.rn {
  font-size: 48px;
  font-weight: 800;
  text-align: center;
  margin-top: 60px;

  background: linear-gradient(90deg, #00c6ff, #0072ff, #ff00cc);
  -webkit-text-fill-color: transparent;

  letter-spacing: 2px;
  text-transform: uppercase;

  transition: 0.4s ease;
  cursor: pointer;

  text-shadow: 0 5px 20px rgba(0,0,0,0.2);
}

.rn:hover {
  transform: scale(1.15);
  filter: drop-shadow(0 0 15px #00c6ff);
}